HKEY_LOCAL_MACHINE SOFTWARE\Policies\Microsoft\Windows\OneDrive DWORD DisableFileSyncNGSC 1
HKEY_LOCAL_MACHINE SOFTWARE\Policies\Microsoft\Windows\OneDrive DWORD DisableFileSyncNGSC 2
HKEY_LOCAL_MACHINE SOFTWARE\Policies\Microsoft\Windows\OneDrive DWORD DisableFileSyncNGSC 3