windefend
wersvc
wuauserv
wsearch
edgeupdate
edgeupdatem
semgrsvc
icssvc
dusmsvc
cdpsvc
cdpusersvc
retaildemo
power
sysmain
trkwks
diagnosticshub.standardcollector.service
rmsvc
dps
diagsvc